<div class="btn-group mr-1" role="group" aria-label="Report Format Selector">
    <a href="{{{tableurl}}}" class="btn btn-secondary {{#istable}}active{{/istable}}">{{#str}}table, mod_englishcentral{{/str}}</a>
    <a href="{{{charturl}}}" class="btn btn-secondary {{#ischart}}active{{/ischart}}">{{#str}}chart, mod_englishcentral{{/str}}</a>
    <a href="{{{combiurl}}}" class="btn btn-secondary {{#iscombi}}active{{/iscombi}}">{{#str}}combi, mod_englishcentral{{/str}}</a>
</div>