<div class="btn-group mr-1" role="group" aria-label="Report Format Selector">
    <a href="{{{tableurl}}}" aria-label="{{#str}}table, mod_englishcentral{{/str}}" class="btn btn-secondary {{#istable}}active{{/istable}}"><i class="fa fa-table" aria-hidden="true"></i></a>
    <a href="{{{charturl}}}" aria-label="{{#str}}chart, mod_englishcentral{{/str}}" class="btn btn-secondary {{#ischart}}active{{/ischart}}"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
    <a href="{{{combiurl}}}" aria-label="{{#str}}combi, mod_englishcentral{{/str}}" class="btn btn-secondary {{#iscombi}}active{{/iscombi}}"><i class="fa fa-university" aria-hidden="true"></i></a>
</div>