{{#str}}reportsmenutoptext, mod_englishcentral{{/str}}
<div class="englishcentral_reportsmenu_box">
    {{#reports}}
        <div class="englishcentral_reportsmenu_item">
            <div class="englishcentral_reportsmenu_itembutton">
                {{{button}}}
            </div>
            <div class="englishcentral_reportsmenu_itemtext">
                {{text}}
            </div>
        </div>
    {{/reports}}
</div>