<div class="player-container-class">
    <div id="id_playercontainer"></div>
    <div class="faux-loader"></div>
    <div class="video-placeholder">
        <!--div class="video-placeholder-blur"></div-->
        <div class="video-placeholder-video"></div>
        <div class="video-placeholder-text">
            <div class="video-placeholder-text_title"></div>
            <div class="video-placeholder-text_title"></div>
        </div>
    </div>
</div>


