<div class="player-container-class {{display}}">
    <div id="id_playercontainer"></div>
    <div class="faux-loader"></div>
    <div class="video-placeholder">
        <div class="video-placeholder-video"></div>
        <div class="video-placeholder-text">
            <div class="video-placeholder-text-group1">
                <div class="video-placeholder-text-social"></div>
                <div class="video-placeholder-text-title"></div>
            </div>
            <div class="video-placeholder-text-description"></div>
            <div class="video-placeholder-text-group2">
                <div class="video-placeholder-text-label"></div>
                <div class="video-placeholder-text-level"></div>
                <div class="video-placeholder-text-tags"></div>
            </div>
            <div class="video-placeholder-text-progress">
                <div class="video-placeholder-text-watch-the-video">Watch the video</div>
                <div class="video-placeholder-text-learn-the-words">Learn the words</div>
                <div class="video-placeholder-text-speak-the-lines">Speak the lines</div>
            </div>
        </div>
    </div>
</div>


